
.backside { background-image:url('cards/back.png'); }

.c1_1  { background-image:url('cards/1_1.png'); }
.c1_2  { background-image:url('cards/1_2.png'); }
.c1_3  { background-image:url('cards/1_3.png'); }
.c1_4  { background-image:url('cards/1_4.png'); }
.c1_5  { background-image:url('cards/1_5.png'); }
.c1_6  { background-image:url('cards/1_6.png'); }
.c1_7  { background-image:url('cards/1_7.png'); }
.c1_8  { background-image:url('cards/1_8.png'); }
.c1_9  { background-image:url('cards/1_9.png'); }
.c1_10 { background-image:url('cards/1_10.png'); }
.c1_11 { background-image:url('cards/1_11.png'); }
.c1_12 { background-image:url('cards/1_12.png'); }
.c1_13 { background-image:url('cards/1_13.png'); }

.c2_1  { background-image:url('cards/2_1.png'); }
.c2_2  { background-image:url('cards/2_2.png'); }
.c2_3  { background-image:url('cards/2_3.png'); }
.c2_4  { background-image:url('cards/2_4.png'); }
.c2_5  { background-image:url('cards/2_5.png'); }
.c2_6  { background-image:url('cards/2_6.png'); }
.c2_7  { background-image:url('cards/2_7.png'); }
.c2_8  { background-image:url('cards/2_8.png'); }
.c2_9  { background-image:url('cards/2_9.png'); }
.c2_10 { background-image:url('cards/2_10.png'); }
.c2_11 { background-image:url('cards/2_11.png'); }
.c2_12 { background-image:url('cards/2_12.png'); }
.c2_13 { background-image:url('cards/2_13.png'); }

.c3_1  { background-image:url('cards/3_1.png'); }
.c3_2  { background-image:url('cards/3_2.png'); }
.c3_3  { background-image:url('cards/3_3.png'); }
.c3_4  { background-image:url('cards/3_4.png'); }
.c3_5  { background-image:url('cards/3_5.png'); }
.c3_6  { background-image:url('cards/3_6.png'); }
.c3_7  { background-image:url('cards/3_7.png'); }
.c3_8  { background-image:url('cards/3_8.png'); }
.c3_9  { background-image:url('cards/3_9.png'); }
.c3_10 { background-image:url('cards/3_10.png'); }
.c3_11 { background-image:url('cards/3_11.png'); }
.c3_12 { background-image:url('cards/3_12.png'); }
.c3_13 { background-image:url('cards/3_13.png'); }

.c4_1  { background-image:url('cards/4_1.png'); }
.c4_2  { background-image:url('cards/4_2.png'); }
.c4_3  { background-image:url('cards/4_3.png'); }
.c4_4  { background-image:url('cards/4_4.png'); }
.c4_5  { background-image:url('cards/4_5.png'); }
.c4_6  { background-image:url('cards/4_6.png'); }
.c4_7  { background-image:url('cards/4_7.png'); }
.c4_8  { background-image:url('cards/4_8.png'); }
.c4_9  { background-image:url('cards/4_9.png'); }
.c4_10 { background-image:url('cards/4_10.png'); }
.c4_11 { background-image:url('cards/4_11.png'); }
.c4_12 { background-image:url('cards/4_12.png'); }
.c4_13 { background-image:url('cards/4_13.png'); }

.c5_1 { background-image:url('cards/joker2.png'); }


