
.invisible {
	visibility:hidden;
}


body, html {
	background-color:black;
	color:#FFFF88;
	font:0px verdana;
	/* 0px required so inline-block padding doesnt change!! */
	/* you must adjust each block font size to wanted size separately if text is used. */
}


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}



.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.card {
	border-radius:3px;
	margin-left:6px;
	display:inline-block;
	font-size:0;
	
	background-size: 100% 100%;
	cursor:pointer;
	/* 80x116 is same aspect ratio as 200x290, and it gives whole numbers for dimensions */
	min-width:80px;
	min-height:116px;
	
	box-shadow: rgba(0, 0, 0, 0.7) 0px 0px 16px;
}

.card:first-child {
	margin-left:0px;
}

/*

.saturate { filter: saturate(3); }
.grayscale { filter: grayscale(100%); }
.contrast { filter: contrast(160%); }
.brightness { filter: brightness(0.25); }
.blur { filter: blur(3px); }
.invert { filter: invert(100%); }
.sepia { filter: sepia(100%); }
.huerotate { filter: hue-rotate(180deg); }
.rss.opacity { filter: opacity(50%); }
*/


.card:hover {
	filter: brightness(0.8);
}
.card.selected {
	filter: brightness(0.6);
}
.card.selected:hover {
	filter: brightness(0.5);
}

.card.empty {
	border-radius:4px;
	background-color:rgba(166,100,0, 0.25);
}

.card.empty:hover {
	background-color:rgba(166,100,0, 0.35);
	border-color:rgba(255,255,128, 0.4);
	opacity:0.7;
}

.card.is_deck {
	transform: rotate(90deg);
	margin-right:24px;
}



#game {
	text-align:right;
	padding:0px 0px 0px 0px;
	position:absolute;
	top:0;
	right:0;
	
	background: rgb(0,0,0);
	
	/*
	background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%), linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(101,0,177,1) 25%, rgba(255,0,0,1) 50%, rgba(112,0,0,1) 75%, rgba(0,0,0,1) 100%);
	animation: gradient 10s ease infinite;
	*/
	
	background-size: 100% 50%;
	background-position: 50% 50%;
	
}


@keyframes gradient {
	0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: 0% -300%;
	}
}

.button {
	border:1px solid #3d499b;
	border-radius: 6px;
	margin:1px;
	padding:2px 15px 6px 15px;
	//text-transform:uppercase;
	text-align:center;
	display:inline-block;
	font-size:12px;
	
	background-color:#0d1940;
	cursor:pointer;
	color:#FFFFFF;
}

.button:hover {
	background-color:#1b3074;
}

/* has to come after hover or it will have hover effect */
.button.disabled {
	border:1px solid #0d196b;
	background-color:black;
	color:#444444;
}






.hint_blink1 {
	animation: hint_blinker1 0.1s linear infinite;
	animation-iteration-count: 10;
}
@keyframes hint_blinker1 {  
	50% {
		opacity: 0;
		color:#0000FF;
		background-color:rgba(0,0,255,0.6);
		border-color:#0000FF;

	}
}


.hint_blink2 {
	animation: hint_blinker2 0.1s linear infinite;
	animation-iteration-count: 17;
}
@keyframes hint_blinker2 {  
	50% {
		opacity: 0;

		color:#FFFF00;
		background-color:rgba(255,255,0,1);
		border-color:#FFFF00;
		
	}
}


.hint_blink3 {
	animation: hint_blinker3 0.1s linear infinite;
	animation-iteration-count: 25;
}
@keyframes hint_blinker3 {  
	50% {
		opacity: 0;

		color:#FFFFFF;
		background-color:rgba(255,255,255,0.6);
		border-color:#FFFFFF;
	}
}




.scoreblink {
	animation: score_blinker 0.1s ease-out;
	animation-iteration-count: 7;
	animation-fill-mode: forwards;
}

@keyframes score_blinker {  
	0% {
		opacity: 0;
		color:#FFFF00;
	}
	50% {
		opacity: 1;
		color:#FFFF00;
	}
	100% {
		opacity: 0;
		color:#FF0000;
	}
}


.completed_blink {
	animation: completed_blinker 0.1s ease-out;
	animation-iteration-count: 7;
	animation-fill-mode: forwards;
}

@keyframes completed_blinker {  
	0% {
		opacity: 0;
		color:#FF00FF;
	}
	100% {
		opacity: 1;
		color:#FFFF00;
	}
}




