
.invisible {
	visibility:hidden;
}


body, html {
	background-color:black;
	color:#FFFF88;
	font:35px verdana;
}


html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}



.noselect {
  -webkit-touch-callout: none;
    -webkit-user-select: none;
     -khtml-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.card {
	border-radius: 4px;
	margin:3px;
	text-align:center;
	display:inline-block;
	background-size: 100% 100%;
	cursor:pointer;
	min-width:70px;
	min-height:100px;
	font-size:50px;
}

.c0_0 { background-image:url('cards/back.png'); }

.c1_1  { background-image:url('cards/1_1.png'); }
.c1_2  { background-image:url('cards/1_2.png'); }
.c1_3  { background-image:url('cards/1_3.png'); }
.c1_4  { background-image:url('cards/1_4.png'); }
.c1_5  { background-image:url('cards/1_5.png'); }
.c1_6  { background-image:url('cards/1_6.png'); }
.c1_7  { background-image:url('cards/1_7.png'); }
.c1_8  { background-image:url('cards/1_8.png'); }
.c1_9  { background-image:url('cards/1_9.png'); }
.c1_10 { background-image:url('cards/1_10.png'); }
.c1_11 { background-image:url('cards/1_11.png'); }
.c1_12 { background-image:url('cards/1_12.png'); }
.c1_13 { background-image:url('cards/1_13.png'); }

.c2_1  { background-image:url('cards/2_1.png'); }
.c2_2  { background-image:url('cards/2_2.png'); }
.c2_3  { background-image:url('cards/2_3.png'); }
.c2_4  { background-image:url('cards/2_4.png'); }
.c2_5  { background-image:url('cards/2_5.png'); }
.c2_6  { background-image:url('cards/2_6.png'); }
.c2_7  { background-image:url('cards/2_7.png'); }
.c2_8  { background-image:url('cards/2_8.png'); }
.c2_9  { background-image:url('cards/2_9.png'); }
.c2_10 { background-image:url('cards/2_10.png'); }
.c2_11 { background-image:url('cards/2_11.png'); }
.c2_12 { background-image:url('cards/2_12.png'); }
.c2_13 { background-image:url('cards/2_13.png'); }

.c3_1  { background-image:url('cards/3_1.png'); }
.c3_2  { background-image:url('cards/3_2.png'); }
.c3_3  { background-image:url('cards/3_3.png'); }
.c3_4  { background-image:url('cards/3_4.png'); }
.c3_5  { background-image:url('cards/3_5.png'); }
.c3_6  { background-image:url('cards/3_6.png'); }
.c3_7  { background-image:url('cards/3_7.png'); }
.c3_8  { background-image:url('cards/3_8.png'); }
.c3_9  { background-image:url('cards/3_9.png'); }
.c3_10 { background-image:url('cards/3_10.png'); }
.c3_11 { background-image:url('cards/3_11.png'); }
.c3_12 { background-image:url('cards/3_12.png'); }
.c3_13 { background-image:url('cards/3_13.png'); }

.c4_1  { background-image:url('cards/4_1.png'); }
.c4_2  { background-image:url('cards/4_2.png'); }
.c4_3  { background-image:url('cards/4_3.png'); }
.c4_4  { background-image:url('cards/4_4.png'); }
.c4_5  { background-image:url('cards/4_5.png'); }
.c4_6  { background-image:url('cards/4_6.png'); }
.c4_7  { background-image:url('cards/4_7.png'); }
.c4_8  { background-image:url('cards/4_8.png'); }
.c4_9  { background-image:url('cards/4_9.png'); }
.c4_10 { background-image:url('cards/4_10.png'); }
.c4_11 { background-image:url('cards/4_11.png'); }
.c4_12 { background-image:url('cards/4_12.png'); }
.c4_13 { background-image:url('cards/4_13.png'); }

.c5_1 { background-image:url('cards/joker.png'); }





.card:hover {
	background-color:#FF0000;
}


.card.empty {
	background-color:rgba(166,100,0, 0.15);
	border-color:rgba(255,255,128, 0.2);
	cursor:auto;
}

.card.empty:hover {
	
}




#game {
	text-align:right;
	padding:10px 0px 0px 5px;
	
	background: rgb(0,0,0);
	
	//background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%), linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(101,0,177,1) 25%, rgba(255,0,0,1) 50%, rgba(112,0,0,1) 75%, rgba(0,0,0,1) 100%);
	
	background-size: 100% 50%;
	background-position: 50% 50%;
	
	//animation: gradient 10s ease infinite;
}


@keyframes gradient {
	0% {
		background-position: 0% 0%;
	}
	100% {
		background-position: 0% -300%;
	}
}

.button {
	border:1px solid #3d499b;
	border-radius: 6px;
	margin:1px;
	padding:2px 15px 6px 15px;
	//text-transform:uppercase;
	text-align:center;
	display:inline-block;
	background-color:#0d1940;
	cursor:pointer;
	color:#FFFFFF;
}

.button:hover {
	background-color:#1b3074;
}

/* has to come after hover or it will have hover effect */
.button.disabled {
	border:1px solid #0d196b;
	background-color:black;
	color:#444444;
}

.cardbox {
	min-height:80px;
}





.hint_blink1 {
	animation: hint_blinker1 0.1s linear infinite;
	animation-iteration-count: 10;
}
@keyframes hint_blinker1 {  
	50% {
		opacity: 0;
		color:#0000FF;
		background-color:rgba(0,0,255,0.6);
		border-color:#0000FF;

	}
}


.hint_blink2 {
	animation: hint_blinker2 0.1s linear infinite;
	animation-iteration-count: 17;
}
@keyframes hint_blinker2 {  
	50% {
		opacity: 0;

		color:#FFFF00;
		background-color:rgba(255,255,0,1);
		border-color:#FFFF00;
		
	}
}


.hint_blink3 {
	animation: hint_blinker3 0.1s linear infinite;
	animation-iteration-count: 25;
}
@keyframes hint_blinker3 {  
	50% {
		opacity: 0;

		color:#FFFFFF;
		background-color:rgba(255,255,255,0.6);
		border-color:#FFFFFF;
	}
}




.scoreblink {
	animation: score_blinker 0.1s ease-out;
	animation-iteration-count: 7;
	animation-fill-mode: forwards;
}

@keyframes score_blinker {  
	0% {
		opacity: 0;
		color:#FFFF00;
	}
	50% {
		opacity: 1;
		color:#FFFF00;
	}
	100% {
		opacity: 0;
		color:#FF0000;
	}
}


.completed_blink {
	animation: completed_blinker 0.1s ease-out;
	animation-iteration-count: 7;
	animation-fill-mode: forwards;
}

@keyframes completed_blinker {  
	0% {
		opacity: 0;
		color:#FF00FF;
	}
	100% {
		opacity: 1;
		color:#FFFF00;
	}
}



